.footers footer {
    background: #276076;
    color: white;
}

.footers footer .detailfooter {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    margin-left: 1em;
}



.footers footer .detailfooter div p {
    color: #c5c1c1;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    max-width: 50%;
}

@media screen and (max-width:768px) {
    .footers footer .detailfooter {
        flex-direction: column;
    }

    .footers footer .detailfooter div p {
        max-width: 26em;
    }


    .footers footer .detailfooter div {
        margin-left: 1em;
    }
}

.copyright {
    border-top: 1px solid #737373;
    text-align: center;
    height: 4em;
    margin-bottom: 0;
}

.copyright p {
    text-align: center;
}